/**-- All ––––––––––––––––––––––– */
.backing {
	background-color: #F2E6E8;
}

 /**-- Headline ––––––––––––––––––––––– */
h1 {
	font-family: Times;
}

 /**-- Byline and Dateline –––––––––––––– */
 	.byline {
 		border-top: solid 2px;
 		border-bottom: solid 2px;
 		padding-top: 10px;
 		padding-bottom: 10px;
 		font-family: Arial;
 		font-weight: bolder;
 	}

 /**-- Navbar ––––––––––––––––––––––– */
 	.nav {
 		text-align: center;
 		padding-top: 10px;
 		padding-bottom: 10px;
 		border-top: solid 2px;
 		margin-left: auto;
 		margin-right: auto;
 	}

 /**-- Row 1 ––––––––––––––––––––––– */
 h2 {
 	font-family: Arial, Sans;
 	font-size: 20px;
 	font-weight: bolder;
 }
.article {
	font-family: Arial, Sans;
	font-size: 16px;
}
@media (max-width: 550px) {
	p {
		margin-top: 5px;
	}
}
	 /**-- Graph 1 ––––––––––––––––––––––– */

	 /**-- Audio link image ––––––––––––––––––––––– */
.mediabox {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border: solid 2px;
	text-align: center;
	background-color: white;
}

.picbox {
	width: 230px;
}

.imgbox {
	width: 275px;
}

.medialink {
	height: 300px;
}
.caption {
	font-family: Arial, Sans;
	font-size: 12px;
	margin: 10px;
}
.cite {
	font-size: 10px;
	font-style: italic;
}
@media (max-width: 1112px) {
	.medialink {
		height: 200px;
	}
}


 /**-- Row 2 ––––––––––––––––––––––– */

	 /**-- Graph 2 ––––––––––––––––––––––– */


 /**-- Row 3 ––––––––––––––––––––––– */

	 /**-- 1889 Map ––––––––––––––––––––––– */
 	.chart {
	width: 1097px;
	height: 590px;
	}
	
	@media (max-width: 1112px) {
		.chart {
			width: 617px;
			height: 332px;
		}
	}
	@media (max-width: 800px) {
		.chart {
			display: none;
		}
	}

 /**-- Row 4 ––––––––––––––––––––––– */

	 /**-- Graph 3 ––––––––––––––––––––––– */
.quote {
	font-style: italic;
	text-align: center;
	background-color: rgba(255,255,255,0.75);
	margin: 10px;
}
	 /**-- Pullquote ––––––––––––––––––––––– */
.pullquote {
	font-family: Times;
	border: solid 2px;
	padding: 10px;
	background-color: white;
}
.pulltext {
	font-size: 16px;
	font-style: italic;
	margin-bottom: 0;
	text-align: center;
}
@media (max-width: 550px) {
	.pullquote {
		border-top: solid 2px;
		border-bottom: solid 2px;
		border-left: 0;
		border-right: 0;
		background-color: #F2E6E8;
	}
	.caption {
		font-size: 10px;
	}
}

 /*--Gifbox and foldbox ------ */

 .gifbox {
	padding: 5px;
	text-align: center;
	object-fit: contain;
	max-width: 600px;
}
 .foldbox {
	padding: 5px;
	border: solid 2px;
	text-align: center;
	background-color: white;
	object-fit: contain;
	max-width: 800px;
}

/* -- mediaqueries for gifbox and foldbox -- */
@media (max-width: 1112px) {
	.gifbox {
		max-width: 600px;
	}
	.foldbox {
		max-width: 800px;
	}
}

@media (max-width: 800px) {
	.gifbox {
		max-width: 600px;
	}
	.foldbox {
		max-width: 700px;
	}
}
@media (max-width: 600px) {
	.gifbox {
		max-width: 400px;
	}
	.foldbox {
		max-width: 500px;
	}
}
@media (max-width: 500px) {
	.gifbox {
		max-width: 250px;
	}
	.foldbox {
		max-width: 300px;
	}
}


