/**-- All ––––––––––––––––––––––– */
.backing {
	background-color: #F2E6E8;
}

 /**-- Headline ––––––––––––––––––––––– */
h1 {
	font-family: Times;
}

 /**-- Byline and Dateline –––––––––––––– */
 	.byline {
 		border-top: solid 2px;
 		border-bottom: solid 2px;
 		padding-top: 10px;
 		padding-bottom: 10px;
 		font-family: Arial;
 		font-weight: bolder;
 	}

 /**-- Navbar ––––––––––––––––––––––– */
 	.nav {
 		text-align: center;
 		padding-top: 10px;
 		padding-bottom: 10px;
 		border-top: solid 2px;
 		margin-left: auto;
 		margin-right: auto;
 	}

 /**-- Row 1 ––––––––––––––––––––––– */
 h2 {
 	font-family: Arial, Sans;
 	font-size: 20px;
 	font-weight: bolder;
 }
.article {
	font-family: Arial, Sans;
	font-size: 16px;
}
@media (max-width: 550px) {
	p {
		margin-top: 5px;
	}
}
	 /**-- Graph 1 ––––––––––––––––––––––– */

	 /**-- Audio link image ––––––––––––––––––––––– */
.mediabox {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border: solid 2px;
	text-align: center;
	background-color: white;
}

.medialink {
	height: 220px;
}
.caption {
	font-family: Arial, Sans;
	font-size: 12px;
	margin: 10px;
}
@media (max-width: 1112px) {
	.medialink {
		height: 200px;
	}
}


 /**-- Row 2 ––––––––––––––––––––––– */

	 /**-- Graph 2 ––––––––––––––––––––––– */


 /**-- Row 3 ––––––––––––––––––––––– */

	 /**-- 1889 Map ––––––––––––––––––––––– */
 	.chart {
	width: 1097px;
	height: 590px;
	}
	
	@media (max-width: 1112px) {
		.chart {
			width: 617px;
			height: 332px;
		}
	}
	@media (max-width: 800px) {
		.chart {
			display: none;
		}
	}

 /**-- Row 4 ––––––––––––––––––––––– */

	 /**-- Graph 3 ––––––––––––––––––––––– */
.quote {
	font-style: italic;
	text-align: center;
	background-color: rgba(255,255,255,0.75);
	margin: 10px;
}
	 /**-- Pullquote ––––––––––––––––––––––– */
.pullquote {
	border: solid 2px;
	padding: 10px;
	background-color: white;
}
.pulltext {
	font-family: Times;
	font-size: 16px;
	font-style: italic;
	margin-bottom: 0;
	text-align: center;
}
@media (max-width: 550px) {
	.pullquote {
		border-top: solid 2px;
		border-bottom: solid 2px;
		border-left: 0;
		border-right: 0;
		background-color: #F2E6E8;
	}
	.caption {
		font-size: 10px;
	}
}

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 90%; 
	max-width: 100%; 
	} 
.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
	position: absolute; 
	top: 0; 
	width: 100%; 
	height: 90%; 
	}
.whobox {
  position: relative;
  width: 100%;
  height: 90%;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 120px;
  box-sizing: border-box; }
 /*--Gifbox and foldbox ------ */

 .gifbox {
	padding: 10px;
	border: solid 2px;
	text-align: center;
	background-color: white;
	object-fit: contain;
	max-width: 400px;
}
 .foldbox {
	padding: 10px;
	border: solid 2px;
	text-align: center;
	background-color: white;
	object-fit: contain;
	max-width: 600px;
}

/* -- mediaqueries for gifbox and foldbox -- */
@media (max-width: 1112px) {
	.gifbox {
		max-width: 300px;
	}
}
@media (max-width: 900px) {
	.gifbox {
		display: none;
	}
}
@media (max-width: 800px) {
	.foldbox {
		max-width: 600px;
	}
	.whobox {
		display: none;
	}
}
@media (max-width: 600px) {
	.foldbox {
		max-width: 300px;
	}
}
@media (max-width: 350px) {
	.foldbox {
		max-width: 250px;
	}
}
@media (min-width: 900px) {
	.fold {
		display: none;
	}
	.foldbox {
		display: none;
	}
}

